<title>Rodrigo Soares</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <%= link_to post_path do %>
                    <h2 class="post-title">
                        <%= @post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= @post.abstract %>
                    </h3>
                    <p>
                      <%= @post.content %>
                    </p>
                <% end %>
                <p class="post-meta">Publicado em <%= @post.created_at.strftime '%d/%m/%Y' %></p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Mais Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<%= render 'footer' %>
