<% provide :title, 'Posts' %>

<%= render 'pages/shim' %>
<%= render 'pages/navigation' %>

<div class="container spacer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Posts</h1>
      <% @posts.each do |post| %>
        <%= link_to post_path(post.slug), class: 'no-decor' do %>
          <h2><%= post.title %> <small><%= post.abstract %></small></h2>
          <small>Publicado em <%= post.created_at.strftime '%d/%m/%Y' %></small>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>

<%= render 'pages/footer' %>
