<% provide :title, @post.title %>

<%= render 'pages/shim' %>
<%= render 'pages/navigation' %>

<article>
  <div class="container spacer">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><%= @post.title %></h2>
        <p class="lead"><%= @post.abstract %></p>
        <small>Publicado em <%= @post.created_at.strftime '%d/%m/%Y' %></small>
        <p><%= simple_format @post.content %></p>
        <hr>

        <div class="pull-left">
          <a class="btn btn-default" href="<%= posts_path %>">&larr; Voltar</a>
        </div>
      </div>
    </div>
  </div>
</article>

<%= render 'pages/footer' %>
